@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Slabo+27px&display=swap');

:root{
    --bg: #e8dac5;
    --la: #a2bab2;
    --mc: #6c6a72;
    --da: #f2e9dd;
    --ds: #322634;
    --hb: #cbc0ad;
}

body{
    background-color: var(--bg);
    margin: 0;
}

.navbar { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    text-align: center;
    background: var(--mc);
}

.headers {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding-top: 1vh;
    font-style: normal;
    text-align: center;
    background-color: var(--mc);
    color: var(--ds);
    margin: 0;
}

.info-page-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--ds);
}

p {
    margin: 0;
}

.mirror-desc {
    font-family: "Roboto", serif;
    background-color: var(--da);
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 3vh auto auto auto;
    width: 85%;
    border-radius: 3px;

    color: var(--ds);
    
}

.padding-markdown {
    padding: 0 0 0.3vh 1vw;
}

.bregman-visual {
    display: grid;
    grid-template-columns: 1fr 2fr;  
    width: 85%;    
    gap: 5px;
    margin: 3vh auto 3vh auto;
    box-sizing: border-box;
    
}

.bregman-desc {
    font-family: "Roboto", serif;
    background-color: var(--da);
    font-optical-sizing: auto;
    font-weight: 400;
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    width: 90%;
    color: var(--ds);
    padding: 0;
    margin: 0;
    border-radius: 3px;
}
.experiment-page-toprow {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: auto
}

.experiment-desc {
    background: var(--da);
    font-family: "Roboto", serif;
    color: var(--ds);
    background-color: var(--da);
    border-radius: 5px;
    padding-top: 0.2vh;
    margin-right: 0.7vw;
    margin-bottom: 0.5vh;
}

.loading-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.load-experiments {
    background: var(--da);
    font-family: "Roboto", serif;
    color: var(--ds);
    background-color: var(--da);
    border-radius: 5px;
    padding-top: 0.2vh;
    margin-bottom: 0.5vh;
}

.preset-load{ 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-right: 2px solid var(--ds);
}

.upload-load {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.upload {
    border: dashed 1px var(--ds);
    padding: 1vh 1vw 1vh 1vw;
    background-color: #fff7ed;
    border-radius: 3px;
}

.upload:hover{
    cursor: pointer;
}

.load-button {
    background: var(--da);
    font-family: "Roboto", serif;
    font-size: 1em;
    font-weight: 600;
    color: var(--ds);
    background-color: #fff7ed;
    border: none;
    border-radius: 3px;
    width: 4vw;
    height: 23px;
    align-self: center;
}

.load-button:hover {
    background-color: var(--la);
    cursor: pointer;
}

#drag-drop-md {
    margin: 0
}

#preset-dropdown {
    width: 7vw;
}

.bregman-graph-interactive {
    background-color: var(--da);
    width: 100%;
    border-radius: 3px;
    margin: 0

}

.mirror-map-visualisation {
    background-color: var(--da);
    width: 85%;
    height: 30vh; 
}


.rc-slider-track, .rc-slider-dot, .rc-slider-dot-active, .rc-slider-mark,.rc-slider-step, .rc-slider-handle, .rc-slider-rail {
    background-color: var(--mc);
    border-color: var(--ds);
    color: var(--mc);
}

.rc-slider-handle:hover, .rc-slider-handle-click-focused:focus  {
    border-color: var(--la);
}

.bregman-slider {
    width: 100%;
}

.bregman-sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bregman-example-inputs {
    text-align: center;
}

.navlinks-active {
    background-color: var(--la);
}

a {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 450;
    color: var(--ds);
    padding: 8px 10px;
    margin-right: 12px;
    
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

a:hover {
    background-color: var(--la);
}


h4 { 
    margin-bottom: 0px;
    margin-top: 0px;
}

.settings {
    font-family: "Roboto", serif;
    color: var(--ds);
    flex: 1 1 auto;
    border-top: 1px dashed var(--mc);
    padding-top: 0.5vh;
}

.model-settings-left {
    font-family: "Roboto", serif;
    color: var(--ds);
    flex: 1 1 auto;
    border-top: 1px dashed var(--mc);
    padding-top: 0.5vh;
    max-width: 8vw;
    
    margin-right: 3px;
}

.model-settings {
    font-family: "Roboto", serif;
    color: var(--ds);
    flex: 1 1 auto;
    border-top: 1px dashed var(--mc);
    padding-top: 0.5vh;
    width: 11vw;
    
    margin-right: 3px;
}



.input-values {
    width: 4.5vw; 
    background-color: #fff7ed;
    border: none;
    padding-right: 0;
}

.input-function {
    width: 8vw;
    background-color: #fff7ed;
    border: none;
}

#function-mini-input {
    width: 12vw;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1px 2px 0 2px;
}

h3, .graph-header { 
    background-color: var(--hb);
    padding-left: 0.2vw; 
    border-radius: 2px;
    margin: 0.4vh 0.26vw 0.4vh 0.26vw;
    height: 25px;
    text-decoration: underline;
}

.invalid {
    border: 2px solid red;
}

#config-title {
    text-decoration: underline;
}

.markdown-config{
    font-family: "Roboto", serif;
    text-align: center;
    font-size: large;
    color: var(--ds);
    height: 25px;
    margin-bottom: 0px;
    width:100%;
    border-radius: 2px;
    margin-bottom: 0.2vh;
    background-color: var(--hb);
}

.config-button { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-size: 1em;
    height: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.config-button-clicked { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-size: 1em;
    height: 100%;
    background-color: var(--la);
    border: none;
    border-radius: 2px;
    transition: all 0.3s ease;

}

.config-button:hover{
    background-color: var(--la);
    cursor: pointer;
}
.config-button-clicked:hover{
    background-color: var(--la);
    cursor: pointer;
}

.save-button {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 800;
    background-color: #fff7ed;
    font-size: 1em;
    color: var(--ds);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    height: 3.5vh;
    width: 3vw;
    padding-bottom: 1px;
    margin-right: 1vw;
}
.save-button:hover{
    background-color: var(--la);
    cursor: pointer;
}

.save-button:disabled, .add-button:disabled{
    background-color: #b4b1be
}

.save-button:disabled:hover, .add-button:disabled:hover{
    background-color: #b4b1be;
    cursor: default;
}

.add-button {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.25em;
    background-color: #fff7ed; 
    color: var(--ds);
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    height: 3.5vh;
    width: 2vw;
    padding-bottom: 1px;
    margin-right: 1vw;

}

.add-button:hover{
    background-color: var(--la);
    cursor: pointer;
}

.run-button { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    text-decoration: none;
    background-color: #fff7ed; 
    color: var(--ds);
    font-size: 1em;
    height: 3.5vh;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 1vw;

}

#run-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.run-button:hover{
    background-color: var(--la);
    cursor: pointer;
}
.option-columns-mlp {
    display: flex;
    margin-left: 0;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
    width: 80%;
}

#top-div-config{
    display: flex;
    flex-direction: row;
    justify-content: center;     /* center them horizontally */
    align-items: center;
    margin-bottom: 1vh;
    width: 100%;                  /* same width as .option-columns for alignment */
    gap: 10px;
}

#approx-button {
    margin-right: 2vw;
}

div[id*='"type":"bregman-input"'], div[id*='"type":"loss-input"']{
    width: 65%;
    
}

div[id*='"type":"bregman-mini-input"'], #preset-function-input{
    width: 40%;
    padding-bottom: 5px;
}

.log-container{
    width: 100%;
    height: auto;
    background: var(--hb);
    border-radius: 2px;
    margin-top: 1vh;
}

.logging-markdown{
    padding: 5px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8em;
    text-align: center;
}


.Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 11px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.dash-dropdown {
    padding-bottom: 0.2vh;
    
}

.Select-input {
    height: 20px;
    line-height: 23px;
}
.Select-control {
    height: 20px;
    line-height: 23px;
    background-color: #fff7ed;
    border: none;

}
.input-values::-webkit-inner-spin-button, 
.input-values::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.Select-placeholder {
    line-height: 23px;
    background-color: #fff7ed;

}

.hidden {
    display:none !important;
}
.Select-value-label {
    line-height: 23px;
}
.Select-single {
    line-height: 26px;
}
.Select-menu-outer {
    background-color: #fff7ed;
}
.Select-multi-value-wrapper {
    background-color: #fff7ed;

}
.Select-clear-zone, .Select-arrow-zone {
    background-color: #fff7ed;
}

.configuration-options {
    width: 25%;
    padding: 0.26vw;
    background: var(--da);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-right: 0.5vw;
    margin-top: 0.5vh;
    align-self: flex-start;
    align-items: center;
    justify-content:flex-start;
}


.loading-figs {
    max-width: 60%
}

.experiment-graphs {
    flex: 0 0 60%;
    max-width: 60%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-top: 0.5vh;
    margin-right: 0.5vw;
}

.experiment-metrics {
    height: 100%;
    width: 15%;
    font-family: "Roboto", serif;
    color: var(--ds);
    font-weight: 400;
    font-style: normal;
    background: var(--da);
    display: flex;
    margin-top: 0.5vh;
    border-radius: 5px;
    flex-direction: column;
    align-self: flex-start;
    flex-shrink: 0;
    padding: 0.3vh 0.2vw;
}

.experiment-result { 
    display: block;
}

#metrics-header {
    text-align: center;
    text-decoration: underline;
    margin: 0.5vh 0 0.5vh 0;
}

.experiment-header {
    text-align: center;
    font-size: 0.9em;

}

.metrics-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8em;
}

.metrics-table td {
    border: 1px solid #ccc;
    padding: 0.2vh 12px;
}

.metric-name {
    font-weight: 400;
    width: 65%;
}

.metric-value {
    text-align: right;
    width: 35%;
}
/* .experiment-graphs .dash-graph {
    
} */

.graph {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    min-height: 450px;
}

.experiment-div {
    display: flex;
    flex-direction: row;
}

.graph {
    padding: 5px;
    background-color: var(--da);
    border-radius: 5px;
}




