@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg: #e8dac5;
    --la: #a9b756;
    --mc: #6c6a72;
    --da: #f2e9dd;
    --ds: #322634;
}

body{
    background-color: var(--bg);
    margin: 0;
}

.navbar { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 5vh;
    text-align: center;
    background: var(--mc);
}

.headers {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    padding-top: 1vh;
    font-style: normal;
    text-align: center;
    background-color: var(--mc);
    color: var(--ds);
    margin: 0;
}

.info-page-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--ds);
}

.mirror-desc {
    font-family: "Roboto", serif;
    background-color: var(--da);
    font-optical-sizing: auto;
    font-weight: 400;
    margin: 3vh auto auto auto;
    width: 85%;
    color: var(--ds);
    
}

.padding-markdown {
    padding: 0 0 1vw 1vw;
}

.bregman-visual {
    display: grid;
    grid-template-columns: 1fr 2fr;  
    width: 85%;    
    gap: 5px;
    margin: 3vh auto 3vh auto;
    box-sizing: border-box;
    
}

.bregman-desc {
    font-family: "Roboto", serif;
    background-color: var(--da);
    font-optical-sizing: auto;
    font-weight: 400;
    margin: auto;
    margin-left: 0;
    margin-top: 0;
    width: 90%;
    color: var(--ds);
    padding: 0;
    margin: 0
    
    
}

.bregman-graph-interactive {
    background-color: var(--da);
    width: 100%;
    
    margin: 0

}

.mirror-map-visualisation {
    background-color: var(--da);
    width: 85%;
    height: 30vh; 
}

.rc-slider-track, .rc-slider-dot, .rc-slider-dot-active, .rc-slider-mark,.rc-slider-step, .rc-slider-handle, .rc-slider-rail {
    background-color: var(--mc);
    border-color: var(--ds);
    color: var(--mc);
}

.rc-slider-handle:hover, .rc-slider-handle-click-focused:focus  {
    border-color: var(--la);
}

.bregman-slider {
    width: 100%;
}

.bregman-sliders {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bregman-example-inputs {
    text-align: center;
}

.navlinks-active {
    background-color: var(--la);
}

a {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    font-weight: 450;
    color: var(--ds);
    padding: 8px 10px;
    margin-right: 12px;
    
    border-radius: 5px;
    transition: all 0.3s ease;
    
}

a:hover {
    background-color: var(--la);
}


h4 { 
    margin-bottom: 0px;
    margin-top: 0px;
}

.settings {
    font-family: "Roboto", serif;
    flex: 1 1 auto;
}

.input-values {
    width: 4.5vw; 
}

.input-function {
    width: 8vw;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 90%;
}


#config-info{
    background: #f5f5f5;
    padding: 5px;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border: 1px solid black; 
    border-radius: 5px;
 
}

.markdown-config{
    font-family: "Roboto", serif;
    text-align: center;
    font-size: large;
    color: var(--ds);
    height: 30px;
    margin-bottom: 0px;
}

.config-button { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    height: 100%;
    background: none;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.config-button-clicked { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    height: 100%;
    background-color: rgb(183, 243, 181);
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;

}

.config-button:hover{
    background-color: rgb(183, 243, 181);
    cursor: pointer;
}
.config-button-clicked:hover{
    background-color: rgb(183, 243, 181);
    cursor: pointer;
}

.add-button {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    background: none; 
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.3s ease;
    height: 3vh;
    width: 3vh;

}
.add-button:hover{
    background-color: rgb(183, 243, 181);
    cursor: pointer;
}

.run-button { 
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    text-decoration: none;
    background: none; 
    height: 5vh;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-right: 8vw;

}



.run-button:hover{
    background-color: rgb(183, 243, 181);
    cursor: pointer;
}
.option-columns-mlp {
    display: flex;
    margin-left: 2vw;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
    width: 100%;
}

#top-div-config{
    display: flex;
    flex-direction: row;
    justify-content: center;     /* center them horizontally */
    align-items: center;
    width: 100%;                  /* same width as .option-columns for alignment */
    gap: 10px;
}

#approx-button {
    margin-right: 2vw;
}

div[id*='"type":"bregman-input"'], div[id*='"type":"loss-input"']{
    width: 65%;
}

div[id*='"type":"bregman-mini-input"']{
    width: 50%;
    padding-bottom: 10px;
}

/* #lr-input, #lr-mini-input {
    width: 20%
} */
.Select--single > .Select-control .Select-value {
    bottom: 0;
    color: #aaa;
    left: 0;
    line-height: 11px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.dash-dropdown {
    padding-bottom: 0.2vh;
}
.Select-input {
    height: 20px;
    line-height: 23px;
}
.Select-control {
    height: 20px;
    line-height: 23px;

}
.Select-placeholder {
    line-height: 23px;

}
.Select-value-label {
    line-height: 23px;
}
.Select-single {
    line-height: 26px;
}

.configuration-options {
    width: 30%;
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.experiment-graphs {
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.experiment-graphs .dash-graph {
    min-width: 0;
    min-height: 0;
}

.graph {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
}

.experiment-div {
    display: flex;
    flex-direction: row;
}




